@import "http://fonts.googleapis.com/css?family=Lato:light,lightitalic,regular,regularitalic,bold,bolditalic,900,900italic.css";
.the-font {
  font-family: "Lato", "Helvetica Neue", "Lucida Grande", "Arial";
  font-size: 13px;
  color: #555555;
}
body {
  font-family: "Lato", "Helvetica Neue", "Lucida Grande", "Arial";
  font-size: 13px;
  color: #555555;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
}
h1, h2 {
  margin: 0;
  font-size: 28px;
  text-align: center;
  color: #343434;
}
h1 {
  text-shadow: 1px 2px 2px #dddddd;
  font-size: 60px;
}
.bills {
  text-align: left;
}
.bills .bill {
  margin: 10px;
  margin-bottom: 40px;
}
.bills .bill a div {
  display: inline;
}
.bills .bill .payees {
  color: #887788;
}
.bills .bill .payees .name {
  background-color: #eeeeee;
  color: #555555;
  display: inline;
}
.title {
  color: #343434;
  font-weight: bold;
  text-decoration: underline;
  background-color: #eeeeee;
}
input,
textarea,
select,
label {
  font-family: "Lato", "Helvetica Neue", "Lucida Grande", "Arial";
  font-size: 13px;
  color: #555555;
  color: #111111;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}
input.bill-delete {
  width: 50px;
  text-align: center;
}
a {
  cursor: pointer;
}
