<div class="container header">
  <div class="row">
    <div class="twelvecol heading">
      <h1>BillWaldo</h1>
    </div>
  </div>
</div>
<div class="container bills">
  <div class="row">
    <div class="threecol actions">
      {{if calc.summary.length}}
        {{each(i, item) calc.summary}}
          {{partial({summary: item}) 'bills/summary'}}
        {{/each}}
      {{else}}
        <p>Yay, all balanced.</p>
      {{/if}}
    </div>
    <div id="bills" class="sixcol">
      {{each(i, item) bills}}
        {{partial({bill: item}) 'bills/view'}}
      {{/each}}
    </div>
    <div class="threecol last new-bills">
      <h2>Add a new bill</h2>
      {{partial 'bills/new'}}
    </div>
  </div>
</div>